  <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <a href="/terms.html">Terms and Conditions</a>
                    </div>                    
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/plugins.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
