<!--- basic page needs
        ================================================== -->
<meta charset="utf-8">
<title>{{page.title}} | The Left Diary</title>
<meta name="description" content="{{page.description}}">
<meta name="author" content="">

<!-- mobile specific metas
        ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS
        ================================================== -->
<link rel="stylesheet" href="assets/css/base.css">
<link rel="stylesheet" href="assets/css/vendor.css">
<link rel="stylesheet" href="assets/css/main.css">

<!-- script
        ================================================== -->
<script src="assets/js/modernizr.js"></script>

<!-- --Google Adsense-- -->
<script data-ad-client="ca-pub-3613850686549619" async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163487453-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-163487453-1');
</script>


<meta name="p:domain_verify" content="bb56cd701b0aefd3707696f74262b2ee" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- favicons
        ================================================== 
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">-->
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
<!-- <link rel="manifest" href="site.webmanifest">  -->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0"
  nonce="P1MrcnZl"></script>