  <!-- site content
        ================================================== -->
        <div class="s-content content" id="top" itemscope itemtype="https://schema.org/Book">
            <main class="row content__page">
                
                <article class="column large-full entry format-standard">

                    

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title" itemprop="name">
                        {{page.title}}
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="author">By <a href="#0"> <span itemprop="author">{{page.author}}</span></a></li>
                            <li class="date"> published in <meta itemprop="datePublished" content="2014-05-22" >{{page.publish_date}}</li>
                            <br>
                            <li class="cat-links">
                                <a href="#0">{{page.category[0]}}</a><a href="#0">{{page.category[1]}}</a>
                            </li>
                        </ul>
                    </div> <!-- end entry__header -->
                                       
                    <div class="entry__content">
